<form action="<%= services_path %>" method="get">
  Showing services from
  <%= text_field_tag(:from, params[:from], size: 5, placeholder: "HIT") %>
  to
  <%= text_field_tag(:to, params[:to], size: 5,  placeholder: "KGX") %>
  on
  <%= select_tag("day", options_for_select([['a weekday', 'weekday'], 'Saturday', 'Sunday'], params[:day] || 'weekday')) %>
  at around
  <%= select_tag("time", times_for_select) %>
  <%= submit_tag '🚂 Show me different trains', class: 'btn' %>
</form>

<div class="loading">
  Loading...
</div>

<div class="chart-container" data-url="<%= services_json_path(params[:from], params[:to], params[:day], params[:time]) %>">
</div>

<p class="comparing">Comparing current services on <%= old_date %> to new services on <%= new_date %>.</p>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
