<h1>Timetable Changes</h1>
<p>
  Lots of rail timetables are changing in May 2018.
  This tool helps to compare the current and new services.
</p>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<form action="<%= services_path %>" method="get">
  I am going from
  <%= text_field_tag(:from, params[:from], size: 5, placeholder: "HIT") %>
  to
  <%= text_field_tag(:to, params[:to], size: 5,  placeholder: "KGX") %>
  on
  <%= select_tag("day", options_for_select([['a weekday', 'weekday'], 'Saturday', 'Sunday'], params[:day] || 'weekday')) %>
  at around
  <%= select_tag("time", times_for_select) %>
  <div class="submit-wrapper">
    <%= submit_tag 'Show me the trains', class: 'btn' %>
  </div>
</form>

<h2>See some examples:</h2>
<ul>
  <li><a>Hitchin to Kings Cross at 7am on a Weekday</a></li>
  <li><a>Finsbury Park to Letchworth Garden City at 10am a Saturday</a></li>
  <li><a>Kings cross to St Neots at 9pm on a Weekday</a></li>
<ul>
